# Build Folders (you can keep bin if you'd like, to store dlls and pdbs)
bin
obj

# mstest test results
TestResults

Whisper.API/client/node_modules
Whisper.API/client/public


TestResults
/Whisper.API/_ReSharper.Whisper.API

/Whisper.API/Whisper.API/client/js/.idea
/Whisper.API/Whisper.API/client/.idea