@{
    ViewBag.Title = "About";
}
<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
    <h2>@ViewBag.Message</h2>
</hgroup>
<article>
  
    <h3>Technologies Stack:</h3>
    
    <ul><li>  <h4>Client</h4>
    <ol >
        <li >
            <h5>Backbone.js</h5>

        </li>    <li >
                     <h5>HTML 5 </h5>

                 </li>


    </ol>
    </li><li>
    <h4>App Server</h4>
    <ol >
        <li >
            <h5>ASP.NET MVC 4 WebApi</h5>

        </li>    <li >
                     <h5>Amazon SimpleDB (NOSQL database)</h5>

                 </li>
        <li >
            <h5>Amazon EC2 hosting</h5>

        </li>


    </ol>

    </li></ul>

    <br/>

    <h3>Aspenware Hackthon development team:</h3>
    <ul>
        <li >
            <b>Adam</b> - Technical research & mobile development
        </li>
        <li >
            <b>Mike</b> - Mobile development
        </li>
        <li >
            <b>Eric</b> - Middle-tier development
        </li>
        <li >
            <b>Rob</b> - Vision... it's all about the vision man!
        </li>

    </ul>
</article>
