@{
    ViewBag.Title = "About";
}
<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
    <h2>@ViewBag.Message</h2>
</hgroup>
<article>
    <h3>Hackthon Cast of Characters:</h3>
   <ol class="round">
    <li >
        <h5>Adam</h5>
        Technical research
    </li>
    <li >
        <h5>Mike</h5>
        Mobile development
    </li>
    <li >
        <h5>Eric</h5>
        Middle-tier development
    </li>
    <li >
        <h5>Rob</h5>
        Vision... it's all about the vision man!
    </li>

</ol>
</article>
