@{
    ViewBag.Title = "Whisper API - Home";
}

@section featured {
<section class="featured">
    <div class="content-wrapper">
        <hgroup class="title">
            <h1>Welcome to the Whisper API Server</h1>
            <h2>This web application provides backend data services for the Whisper mobile client, as well as web based admin tools for the whisper database...</h2>
        </hgroup>
        <p>
            
        </p>
    </div>
</section>
}

<h3>Whisper API Admin Functionality:</h3>

<ol class="round">
    <li class="one">
        <h5>Create an account</h5>
        Create and account to access Whisper...
    </li>
    <li class="two">
        <h5>Monitor Students</h5>
        View students on the map...
    </li>
    <li class="three">
        <h5>Administer Courses</h5>
        Setup courses in the data base and associate students with them
    </li>
</ol>

