@{
    ViewBag.Title = "OAuthTest";
}

<h2>OAuthTest</h2>

OAuth Result: @ViewBag.OAuthResult

<br/><br/>
/me/courses Result: @ViewBag.MeCoursesResult

<br/><br/>
https://m-api.ecollege.com/courses/3312999  @ViewBag.CourseDetails
