@{
    ViewBag.Title = "API Tests";
}
<fieldset>
    <legend>1 - /api/signin/</legend>
    <form action="/api/signin" method="POST">
    <p>
        Username
        <input type="text" id="username" name="username" value="jhNXTstud01" /></p>
    <p>
        Password:
        <input type="text" id="password" name="password" value="jhNXTstud01" /></p>
    <input type="submit" />
    </form>
</fieldset>
<br />
<fieldset>
    <legend>2 - /api/students/{token}/{id}</legend><a href="/api/students/@ViewBag.AccessToken/@ViewBag.UserId">
        Test Student API</a>
</fieldset>
<br />
<fieldset>
    <legend>3 - /api/courses/students/{token}/{id}</legend><a href="/api/courses/students/@ViewBag.AccessToken/@ViewBag.UserId">
        Test Courses API</a>
</fieldset>
<br />
<fieldset>
    <legend>4 - /api/checkins/course/{courseid}</legend><a href="/api/checkins/course/2845466">
        Test List Course Checkins API</a>
</fieldset>
<br />
<fieldset>
    <legend>5 - /api/location/checkin/{studentid}/{courseid}/{lat}/{long}</legend><a href="/api/location/checkin/@ViewBag.UserId/2845466/39.606928/-104.89465">
        Test Student Checkin API</a>
</fieldset>
<br />
<fieldset>
    <legend>OAuth + /me/courses</legend><a href="/home/oauthTest">Test Pearson OAuth API</a>
</fieldset>
<br />
<br />
<br />
<fieldset>
    <legend>Legacy Code (already outdated)</legend><a href="/api/location/checkin/User0001/Course2001/45/-45">
        Test Checkin API</a>
</fieldset>
